* {
	padding: 0;
	margin: 0;
}

body {
	width: 687px;
	background-color: #FFFFFF;
	margin: 0 auto;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
	border: 0px;
	vertical-align: middle;
}
.clearing {
	clear: both;
	height: 1px;
	font-size: 0;
}

a {
	color: #FF6C00;
}
a:hover{
	text-decoration: none;
}
p {
	margin-left: 50px;
	width: 100%;
	/* color: #777777; */
}

.logo {
	 margin-top: 20px;
	/* margin-left: 20px;
	height: 35px; 
	
	float: left; */
	width: 130%; 
}

.links{
	float: right;
	margin-top: 30px;
}